.container-cardEvent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 15vh;
  padding: 0.5vh;
  font-size: 1.5vh;

  border-right: solid 0.2vh #FFFFFF;
  background-color: #C20F2D;
}

.container-cardEvent h2 {
  color: #FFFFFF;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.container-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 20vh;

  color: #FFFFFF;
}

.container-team img {
  width: 3vh;
  height: 3vh;
}